#wrap {
  display:bloack;
  position:absolute;
  width:100%; height:100%;
  background-color:rgb(200,240,250);
}

#wrap {
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  text-align:center;  
  font-family:gillsans;
}

.navigation p {
  font-size:60px;
  font-weight:bold;
  color:rgb(250,250,250);
  margin-top:100px;
}

#Layer_1 {
  height:400px;
  fill:rgb
  
}

.map1 {
  fill:rgb(250,150,150);
} /*china_ yantze Finless Porpoise
    russia_ Amur Leopard*/

.map2 {
  fill:rgb(100,200,200);
} /* */

.map3 {
  fill:rgb(150,150,150);
} /* */

.map4 {
  fill:rgb(150,150,150);
} /* */

.Nearctic {
  fill:rgb(150,200,200);
} /*gulf of california,mexico _vaquita*/

.Afro {
  fill:rgb(230,200,100);
} /*namibia_ Black Rhino
    congo_ Cross River Gorilla*/

.Neotropical {
  fill:rgb(100,200,200);
} /* */

.indo {
  fill:rgb(240,180,150);
} /* */

.indonesia {
  fill:rgb(240,200,200);
} /*Boreo Sumatra
    Sumatran Elephant,Rhino,Orangutan*/

.reef {
  fill:rgb(240,200,200);
} /* coral tiangle _ Hawksbill Turtle*/

div.map a {
  position: absolute;
  width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;  
    z-index: 10; 
    background-color: #FFF; 
    opacity: 0; 
    filter: alpha(opacity=1);
}

svg {
  z-index:99;
}