html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
body {line-height:1;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {display:block;}
li{list-style:none;}
a {margin: 0; padding: 0; border: 0; vertical-align: baseline; background: transparent; text-decoration: none; outline: none;}

body {
    width:100%;
    height:850px;
    background-color:white;
    overflow:hidden;
}

/*--- header ---*/

#headertop {
    position:fixed;
    width:100%;
    height:100px;
    text-align: center;
    z-index: 999;
}

#headertop .logo {
    height:60px;
    padding:15px 0 5px;
    opacity:.05;
}

#headertop .logo:hover {
    opacity:1;   
}

/*---save img---*/
#btnSave img{
    position: fixed;
    bottom:0px;
    right:0px;
    padding:10px;
    width:180px;  
    cursor:pointer;
}

#btnSave .top {
    z-index:1;      
}

#btnSave:hover .top{
    display: none;      
}

/*---textboad---*/

#textboard {
    position:absolute;
    width:100%;
    height:auto;
    top:100px;
}

.output {
    display:inline-block;
    float:left;
    border:1px solid rgba(0,0,0,.0);
    background-color: transparent;
    color:black;
    resize: none;
    overflow:hidden;
}

.output:hover {
    border:1px solid rgba(0,0,0,.1);   
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}

.font1 {font-family:"Work Sans", sans-serif;}
.font2 {font-family:"Bell Mt", serif;}
.font3 {font-family:"Cooper Std", "impact";}
.font4 {font-family:"Bodoni Std";}
.font5 {font-family:"Trixie", cursive;}
.font6 {font-family:"Circular Std";}
.font7 {font-family:"Cloister Std";}
.font8 {font-family:"Frutiger Std";}
.font9 {font-family:"Gill Shadow";}
.font10 {font-family:"Weisbaden";}
.font11 {font-family:"perpetua";}

/*---font---*/
@font-face {
    font-family: Work Sans;
    src: url("../fontfamily/WorkSans-Regular.otf") format("opentype");
}

@font-face {
    font-family: Bell Mt;
    src: url("../fontfamily/BellMTStd-Regular.otf") format("opentype");
}

@font-face {
    font-family: Cooper Std;
    src: url("../fontfamily/CooperBlackStd.otf") format("opentype");
}

@font-face {
    font-family: Bodoni Std;
    src: url("../fontfamily/BodoniStd-Poster.otf") format("opentype");
}

@font-face {
    font-family: Trixie;
    src: url("../fontfamily/Trixie-Text.otf") format("opentype");
}

@font-face {
    font-family: Circular Std;
    src: url("../fontfamily/CircularStd-Medium.otf") format("opentype");
}

@font-face {
    font-family: Cloister Std;
    src: url("../fontfamily/CloisterStd-OpenFace.otf") format("opentype");
}

@font-face {
    font-family: Frutiger Std;
    src: url("../fontfamily/FrutigerLTStd-Roman.otf") format("opentype");
}

@font-face {
    font-family: Gill Shadow;
    src: url("../fontfamily/GillSansStd-Shadowed.otf") format("opentype");
}

@font-face {
    font-family: Weisbaden;
    src: url("../fontfamily/WiesbadenSwingLTStd-Roman.otf") format("opentype");
}

@font-face {
    font-family: perpetua;
    src: url("../fontfamily/PerpetuaStd.otf") format("opentype");
}

/*---about---*/

#about {
    position:fixed;
    bottom:15px;
    width:100%;
    z-index: -1;
    text-align: center;
    
}

#about p {
    font-family: 'Trixie', 'helvetica', sans-serif;
    font-size:15px;
    
}

