body {
    width:auto;
    overflow: auto;
}

a {
    text-decoration: none;   
    color:black;
}

#noback {
    font-size:72px;   
    border:none;
    resize: none;
    margin-top:50px; 
    margin-left:70px;
}

.two {
    font-size:54px;
    width:;
    height:;
    border:none;
    
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}


