html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
body {line-height:1;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {display:block;}
li{list-style:none;}
a {margin: 0; padding: 0; border: 0; vertical-align: baseline; background: transparent; text-decoration: none; outline: none;}

header {
    width:100%;   
    height:80px;
    text-align: center;
}

.logo {
    width:200px;
    margin:auto;
    padding:20px;
    font-size:24px;
    font-family: work sans;
    font-weight: 500;
    color:black;
    text-align: left;
}

.logo p {
    margin-top:-5px;   
}

.logo img {
    position: absolute;
    top:15px; margin-left:-70px;
    width:60px;
    
}

#left {
    position:absolute;
    z-index: 999;
    width:160px;
    height:100vh;
    top:0px; left:0px;
    cursor:;
}

#right {
    position:absolute;
    z-index: 999;
    width:160px;
    height:100vh;
    top:0px; right:0px;
    cursor:;
}

#content {
    position:absolute;
    width:1000px;
    height:640px;
    margin:auto; left:0; right:0;
}

.box {
    position:absolute;
    width:100%;
    height:100%;
    
}

.one {
    display:block;   
    background-color:aliceblue;
}

.two {
    display:none;   
    background-color:antiquewhite;
}



#board {
    margin-left:110px;
    width:90vw;
    height:90vh;
}

#board .letterbox {
    position: relative;
    width:280px;
    height:90px;
    border: 2px solid black;
    background-color:white;
    margin:70px 100px 40px 40px;
    float:left;
}

#board .letterbox p {
    font-size:72px;
    font-family:myriad pro;
    margin:12px;
    color:black;
}

.back {
    position: absolute;
    width:290px;
    height:90px;
    margin-top:-22px;
    margin-left:-35px;
    background-color: rgba(0,0,0,.1);
    z-index:-1;
}

.letterbox img {
    position: absolute;
    width:290px;
    margin-top:-118px;
    margin-left:-36px;
    background-color: white;
    border:2px solid black;
    display: none;
}

.letterbox:hover > img {
    display:block;   
}

.letterbox .bigger {
    width:400px;
    margin-top:-174px;
    margin-left:-90px;
    border:none;
    background-color: white;
}
