body {
    width:100%; height:100%;
    overflow: hidden;
    margin:0;
    padding:0;
}

a {
    text-decoration: none;   
    color:black;
}

h1 {
    position: absolute;
    font-weight:400;
    font-size:21px;
    margin-top:-20px;
    margin-left:10px;
}

.board {
    position:absolute;
    font-size:72px;
    left:30px;
}

arch {
    position: relative;
    left:30px;   
    margin-bottom:-20px; margin-top:60px;
}

.board a {
    text-decoration: none;
    color:black;
    float:left;
    margin:0px 25px;
}



.left {
    position: absolute;
    width:20%;   
    height:100%;
    overflow-y:scroll;
}

.left p {
    width:100%;
    height:;
    margin:0;
    text-align: center;
}

.inbox {
    position: absolute;
    font-size:72px;
    width:100%;
    height:60%;
}

.inbox p {
    margin-top:170px;   
}

.archive {
    position: absolute;
    bottom:170px;
    padding:10px 0;
    font-size:72px;
}

.right {
    position: absolute;
    width:80%;
    height:100%;
    left:20%;
    margin-top:30px;
}


.right img {
    position:absolute;
    width:370px;
    height:;
}

.title {
    position: absolute;
    width:370px; margin-top:140px;
    text-align: center;
    font-size:72px;
    opacity: 1;
}

.gifs {
    opacity:0;
    transition-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.link:hover .gifs{
    opacity:1;
}

.link:hover .thumbnail {
    opacity:0;   
}

.link:hover .title{
    opacity:0;   
}

.link {
    margin-left:10px;
    width:370px;
    height:370px;
    float:left;
}

