html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
body {line-height:1;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {display:block;}
li{list-style:none;}
a {margin: 0; padding: 0; border: 0; vertical-align: baseline; background: transparent; text-decoration: none; outline: none;}

body {
    width:100%;
    height:850px;
    background-color:white;
    overflow:hidden;
}

/*--- header ---*/

#headertop {
    position:fixed;
    width:100%;
    height:100px;
    text-align: center;
    z-index: 999;
}

#headertop .logo {
    height:60px;
    padding:15px 0 5px;
    opacity:.05;
}

#headertop .logo:hover {
    opacity:1;   
}

/*--textarea--*/
#noback {
    font-size:72px;   
    border:none;
    resize: none;
    margin-top:50px; 
    margin-left:70px;
}


textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}


/*---click---*/
.click {
    width:30px;   
}

/*---save img---*/
#btnSave img{
    position: fixed;
    bottom:0px;
    right:0px;
    padding:10px;
    width:180px;  
    cursor:pointer;
}

#btnSave .top {
    z-index:1;      
}

#btnSave:hover .top{
    display: none;      
}


/*---font---*/

@font-face {
    font-family: work sans;
    src: url("../fontfamily/WorkSans-Regular.otf") format("opentype");
}
@font-face {
    font-family: about;
    src: url("../fontfamily/Trixie-Text.otf") format("opentype");
}

#noback {
    font-size:64px;   
    font-family: 'work sans', 'helvetica', sans-serif;
    letter-spacing: -1px;
}

/*---about---*/

#about {
    position:absolute;
    bottom:15px;
    width:100%;
    z-index: -1;
    text-align: center;
    
}

#about p {
    font-family: 'about', 'helvetica', sans-serif;
    font-size:15px;
    
}


