html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
body {line-height:1;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {display:block;}
ul li{list-style:none;}
a {margin: 0; padding: 0; border: 0; vertical-align: baseline; background: transparent; text-decoration: none;}

html, body {
    height:100%;
    font-family:work sans, sans-serif;
    font-size: px;
    font-weight: ;
}

.board {
    height:100%;
    width:500px;
    position: relative;
    margin:0 auto;
    display: block;
}

.creature {
    height:500px;
    width:500px;
    margin-bottom:50px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.one {
    background-image: url(img/yeti.png)
}

.one:hover {
    background-image: url(img/yeti_h.png)   
}

.two {
    background-image: url(img/dragon.png)
}

.two:hover {
    background-image: url(img/dragon_h.png)   
}

.three {
    background-image: url(img/pegasus.png)
}

.three:hover {
    background-image: url(img/pegasus_h.png)   
}

