body {
    width:auto;
    overflow: auto;
}

a {
    text-decoration: none;   
    color:black;
}

.board {
    font-family: 'times new roman',serif;
}

.letter {
    font-family: 'times new roman',serif;
}

#noback {
    font-size:72px;   
    border:none;
    resize: none;
    margin-top:50px; 
    margin-left:70px;
}

.two {
    font-size:54px;
    width:;
    height:;
    border:none;
    
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}

.noti {
    position: absolute;
    width:100%;
    text-align: center;
    animation:fadeout 3s;
    animation-timing-function:ease-in-out;
    animation-delay:;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -webkit-animation:fadeout 3s;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-delay:;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fadeout { 
    0%{opacity:0;}
    10%{opacity:1;}
    20%{opacity:0;}
    30%{opacity: 1;}
    70%{opacity: 1;}
    100%{opacity:0;} 
}
@keyframes fadeout {
    0%{opacity:0;}
    10%{opacity:1;}
    20%{opacity:0;}
    30%{opacity: 1;}
    70%{opacity: 1;}
    100%{opacity:0;}  
}
